/* General Properties */

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Header */
h1 {
    font-size: 48px;
}

/* Main Content */

main {
    flex: 1;
    display: flex;
    gap: 16px;
}

main .options-area {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

main .container {
    display: flex;
    max-height: 720px;
    max-width: 720px;
    flex-wrap: wrap;
}

main .container div {
    background-color: white;
    border: 1px solid rgb(49, 40, 40);
    height: 45px;
    width: 45px;
}

.pick-color-container label {
    font-size: 16px;
    font-weight: bold;
}

/* Footer */
footer p {
    font-size: 20px;
}