/* General Properties */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    background-color: rgb(137, 168, 168);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    color: #1c1616;;
}

/* Header */

h1 {
    font-size: 64px;
    margin: 0px;
    padding: 0px;
}

/* Main */

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

main .top-area-options {
    display: flex;
    gap: 12px;
    padding: 12px 0px;
}

.pick-color-container label {
    vertical-align: middle;
}

.pick-color-container #pick-color {
    padding: 0px;
    background: none;
    border: 0px;
    vertical-align: middle;
    cursor: pointer;
}

.slider-container label {
    vertical-align: middle;
}

.slider-container #grid-range {
    vertical-align: middle;
    height: 15px;
    width: 180px;
    appearance: none;
    background: #e1dbdb;
    border-radius: 15px;
}

.slider-container #grid-range::-webkit-slider-thumb {
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(137, 168, 168);
    cursor: pointer;
}

.pick-color-container, .select-btn, .slider-container {
    border: 3px solid rgb(49, 40, 40);
    border-radius: 12px;
    background-color: rgb(165, 165, 165);
    padding: 5px 12px;
}

.pick-color-container:hover, .select-btn:hover, .slider-container:hover {
    transform: scale(1.01);
    border-color: rgb(96, 96, 96);
    box-shadow: 0 0 1rem rgb(131, 126, 126);
}

.pick-color-container label, .slider-container label {
    font-size: 16px;
}

.select-btn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
    color: #1c1616;
    font-size: 16px;
    cursor: pointer;
}

main .container {
    display: flex;
    max-height: 700px;
    max-width: 700px;
    flex-wrap: wrap;
}

main .container div {
    background-color: white;
    border: 1.15px solid rgb(49, 40, 40);
}

.bottom-area-options {
    padding-top: 12px;
    display: flex;
    gap: 12px;
}

/* Footer */

footer {
    margin-top: auto;
}

footer p {
    font-size: 20px;
    margin: 0px;
    padding: 8px 0px;
}